.env

/server/node_modules/
/server/package-lock.json

/client/dist/
/client/build/

/client/node_modules/
/client/package-lock.json

/server/npm-debug.log*
/client/npm-debug.log*

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

/server/coverage/
/client/coverage/

*.DS_Store

/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
